---
import '../styles/global.css';
---

<section id="calendar" class="booking-section">
  <div class="container">
    <div class="section-header text-center">
      <h2>Speak With Us</h2>
      <p class="section-subtitle">Choose a time below to speak with us and see how we can boost your visibility.</p>
    </div>
    
    <div class="calendar-wrapper">
      <iframe src="https://link.restorationai.io/widget/booking/5GoVLLz9HDn8Ik3RjFMB" style="width: 100%;border:none;overflow: hidden;" scrolling="no" id="amzzk8cUTFJTWf00mnGo_1782446928389"></iframe><br><script src="https://link.restorationai.io/js/form_embed.js" type="text/javascript"></script>
    </div>
  </div>
</section>
